<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class = "container">
<h1> Stupid Coaching </h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want to ask the coach?" id="input">
  <input class = "btn btn-primary" type="submit">
</form>
</div>
